<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/animate.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="row cont">
      <section class="left-block col-md-3">
        <div class="option">Option</div>
      </section>
      <section class="right-block col-md-9">
        <div class="items"></div>
        <section id="drop_down">
         <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a onclick="getItems('A',0)" href="#">A</a></li>
            <li><a onclick="getItems('B',0)" href="#">B</a></li>
          </ul>
        </div>
        </section>

      </section> 

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>